* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  outline: none;
  border: none;
}
